<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF4079.jpg"><img src="resized/thumb/DSCF4079.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF4089.jpg"><img src="resized/thumb/DSCF4089.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF4129.jpg"><img src="resized/thumb/DSCF4129.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF4148.jpg"><img src="resized/thumb/DSCF4148.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF4279.jpg"><img src="resized/thumb/DSCF4279.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF4354.jpg"><img src="resized/thumb/DSCF4354.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF4375.jpg"><img src="resized/thumb/DSCF4375.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF5147.jpg"><img src="resized/thumb/DSCF5147.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF5345.jpg"><img src="resized/thumb/DSCF5345.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF5444.jpg"><img src="resized/thumb/DSCF5444.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_0754.jpg"><img src="resized/thumb/IMG_0754.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_0764.jpg"><img src="resized/thumb/IMG_0764.jpg"></a></li>
