<li><a class="fancybox" rel="gallery" href="resized/highres/20190728_224609.jpg"><img src="resized/thumb/20190728_224609.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190802_071820.jpg"><img src="resized/thumb/20190802_071820.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190802_071847.jpg"><img src="resized/thumb/20190802_071847.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190802_074726.jpg"><img src="resized/thumb/20190802_074726.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190802_074830.jpg"><img src="resized/thumb/20190802_074830.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190802_074841.jpg"><img src="resized/thumb/20190802_074841.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190802_074846.jpg"><img src="resized/thumb/20190802_074846.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190802_075313.jpg"><img src="resized/thumb/20190802_075313.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190802_080023.jpg"><img src="resized/thumb/20190802_080023.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190802_081801.jpg"><img src="resized/thumb/20190802_081801.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190802_081804.jpg"><img src="resized/thumb/20190802_081804.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190802_081809.jpg"><img src="resized/thumb/20190802_081809.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190802_081812.jpg"><img src="resized/thumb/20190802_081812.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190802_081814.jpg"><img src="resized/thumb/20190802_081814.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190802_081815.jpg"><img src="resized/thumb/20190802_081815.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190802_081816.jpg"><img src="resized/thumb/20190802_081816.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190802_081818.jpg"><img src="resized/thumb/20190802_081818.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190804_205548.jpg"><img src="resized/thumb/20190804_205548.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190804_205550.jpg"><img src="resized/thumb/20190804_205550.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190804_214335.jpg"><img src="resized/thumb/20190804_214335.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190804_214339.jpg"><img src="resized/thumb/20190804_214339.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190804_214717.jpg"><img src="resized/thumb/20190804_214717.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190804_220331.jpg"><img src="resized/thumb/20190804_220331.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190805_121331.jpg"><img src="resized/thumb/20190805_121331.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190808_175511.jpg"><img src="resized/thumb/20190808_175511.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190808_175515.jpg"><img src="resized/thumb/20190808_175515.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190808_175621.jpg"><img src="resized/thumb/20190808_175621.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190808_180239.jpg"><img src="resized/thumb/20190808_180239.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190809_190209.jpg"><img src="resized/thumb/20190809_190209.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190809_190304.jpg"><img src="resized/thumb/20190809_190304.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190809_190316.jpg"><img src="resized/thumb/20190809_190316.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF6006.JPG"><img src="resized/thumb/DSCF6006.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7080.JPG"><img src="resized/thumb/DSCF7080.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7081.JPG"><img src="resized/thumb/DSCF7081.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7084.JPG"><img src="resized/thumb/DSCF7084.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7086.JPG"><img src="resized/thumb/DSCF7086.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7090.JPG"><img src="resized/thumb/DSCF7090.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7093.JPG"><img src="resized/thumb/DSCF7093.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7094.JPG"><img src="resized/thumb/DSCF7094.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7098.JPG"><img src="resized/thumb/DSCF7098.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7100.JPG"><img src="resized/thumb/DSCF7100.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7101.JPG"><img src="resized/thumb/DSCF7101.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7116.JPG"><img src="resized/thumb/DSCF7116.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7125.JPG"><img src="resized/thumb/DSCF7125.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7129.JPG"><img src="resized/thumb/DSCF7129.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7133.JPG"><img src="resized/thumb/DSCF7133.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7137.JPG"><img src="resized/thumb/DSCF7137.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7138.JPG"><img src="resized/thumb/DSCF7138.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7143.JPG"><img src="resized/thumb/DSCF7143.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7147.JPG"><img src="resized/thumb/DSCF7147.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7154.JPG"><img src="resized/thumb/DSCF7154.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7163.JPG"><img src="resized/thumb/DSCF7163.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7167.JPG"><img src="resized/thumb/DSCF7167.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7169.JPG"><img src="resized/thumb/DSCF7169.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7174.JPG"><img src="resized/thumb/DSCF7174.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7180.JPG"><img src="resized/thumb/DSCF7180.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7181.JPG"><img src="resized/thumb/DSCF7181.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7197.JPG"><img src="resized/thumb/DSCF7197.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7204.JPG"><img src="resized/thumb/DSCF7204.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7211.JPG"><img src="resized/thumb/DSCF7211.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7212.JPG"><img src="resized/thumb/DSCF7212.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7215.JPG"><img src="resized/thumb/DSCF7215.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7218.JPG"><img src="resized/thumb/DSCF7218.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7219.JPG"><img src="resized/thumb/DSCF7219.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7220.JPG"><img src="resized/thumb/DSCF7220.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7227.JPG"><img src="resized/thumb/DSCF7227.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7238.JPG"><img src="resized/thumb/DSCF7238.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7251.JPG"><img src="resized/thumb/DSCF7251.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7280.JPG"><img src="resized/thumb/DSCF7280.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7307.JPG"><img src="resized/thumb/DSCF7307.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7311(1).jpg"><img src="resized/thumb/DSCF7311(1).jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7333.JPG"><img src="resized/thumb/DSCF7333.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7334.JPG"><img src="resized/thumb/DSCF7334.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7335.JPG"><img src="resized/thumb/DSCF7335.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7336.JPG"><img src="resized/thumb/DSCF7336.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7337.JPG"><img src="resized/thumb/DSCF7337.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7338.JPG"><img src="resized/thumb/DSCF7338.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7352.JPG"><img src="resized/thumb/DSCF7352.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7356.JPG"><img src="resized/thumb/DSCF7356.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7397.JPG"><img src="resized/thumb/DSCF7397.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7407.JPG"><img src="resized/thumb/DSCF7407.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7411.JPG"><img src="resized/thumb/DSCF7411.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7418.JPG"><img src="resized/thumb/DSCF7418.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7419.JPG"><img src="resized/thumb/DSCF7419.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7421.JPG"><img src="resized/thumb/DSCF7421.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7428.JPG"><img src="resized/thumb/DSCF7428.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7459.JPG"><img src="resized/thumb/DSCF7459.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7460.JPG"><img src="resized/thumb/DSCF7460.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7461.JPG"><img src="resized/thumb/DSCF7461.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7462.JPG"><img src="resized/thumb/DSCF7462.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7463.JPG"><img src="resized/thumb/DSCF7463.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7761.JPG"><img src="resized/thumb/DSCF7761.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7762.JPG"><img src="resized/thumb/DSCF7762.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7768.JPG"><img src="resized/thumb/DSCF7768.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7770.JPG"><img src="resized/thumb/DSCF7770.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7778.JPG"><img src="resized/thumb/DSCF7778.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7780.JPG"><img src="resized/thumb/DSCF7780.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7782.JPG"><img src="resized/thumb/DSCF7782.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7785.JPG"><img src="resized/thumb/DSCF7785.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7789.JPG"><img src="resized/thumb/DSCF7789.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7820.JPG"><img src="resized/thumb/DSCF7820.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7822.JPG"><img src="resized/thumb/DSCF7822.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7828.JPG"><img src="resized/thumb/DSCF7828.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7839.JPG"><img src="resized/thumb/DSCF7839.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7841.JPG"><img src="resized/thumb/DSCF7841.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7847.JPG"><img src="resized/thumb/DSCF7847.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7851.JPG"><img src="resized/thumb/DSCF7851.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7855.JPG"><img src="resized/thumb/DSCF7855.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF7871.JPG"><img src="resized/thumb/DSCF7871.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_20190802_221903.jpg"><img src="resized/thumb/IMG_20190802_221903.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_20190802_223106.jpg"><img src="resized/thumb/IMG_20190802_223106.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_20190808_175718.jpg"><img src="resized/thumb/IMG_20190808_175718.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_20190808_175733.jpg"><img src="resized/thumb/IMG_20190808_175733.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_20190808_175738.jpg"><img src="resized/thumb/IMG_20190808_175738.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_20190808_175749.jpg"><img src="resized/thumb/IMG_20190808_175749.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_20190808_175755.jpg"><img src="resized/thumb/IMG_20190808_175755.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_20190808_180241.jpg"><img src="resized/thumb/IMG_20190808_180241.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_20190808_180254.jpg"><img src="resized/thumb/IMG_20190808_180254.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_20190809_232704.jpg"><img src="resized/thumb/IMG_20190809_232704.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/P1250814.JPG"><img src="resized/thumb/P1250814.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/P1250816.JPG"><img src="resized/thumb/P1250816.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/P1250823.JPG"><img src="resized/thumb/P1250823.JPG"></a></li>
