<li><a class="fancybox" rel="gallery" href="resized/highres/20170730_170100.jpg"><img src="resized/thumb/20170730_170100.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20170730_170107.jpg"><img src="resized/thumb/20170730_170107.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/b17b1.jpg"><img src="resized/thumb/b17b1.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/b17b2.jpg"><img src="resized/thumb/b17b2.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/borno_house.jpg"><img src="resized/thumb/borno_house.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/borno_islands.jpg"><img src="resized/thumb/borno_islands.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/borno_motorboat.jpg"><img src="resized/thumb/borno_motorboat.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/borno_sailboat2.jpg"><img src="resized/thumb/borno_sailboat2.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/borno_sailboat.jpg"><img src="resized/thumb/borno_sailboat.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/borno_sunset.jpg"><img src="resized/thumb/borno_sunset.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/borno_view.jpg"><img src="resized/thumb/borno_view.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG8244.jpg"><img src="resized/thumb/IMG8244.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG8252.jpg"><img src="resized/thumb/IMG8252.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG8260.jpg"><img src="resized/thumb/IMG8260.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG8261.jpg"><img src="resized/thumb/IMG8261.jpg"></a></li>
