<li><a class="fancybox" rel="gallery" href="/highres/20170723_163605.jpg"><img src="/thumb/20170723_163605.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="/highres/20170726_091645.jpg"><img src="/thumb/20170726_091645.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="/highres/20170726_172615.jpg"><img src="/thumb/20170726_172615.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="/highres/b171.jpg"><img src="/thumb/b171.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="/highres/IMG_0764.JPG"><img src="/thumb/IMG_0764.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="/highres/IMG_0774.JPG"><img src="/thumb/IMG_0774.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="/highres/IMG_0781.JPG"><img src="/thumb/IMG_0781.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="/highres/IMG_0972.jpeg"><img src="/thumb/IMG_0972.jpeg"></a></li>
<li><a class="fancybox" rel="gallery" href="/highres/IMG_0977.jpeg"><img src="/thumb/IMG_0977.jpeg"></a></li>
<li><a class="fancybox" rel="gallery" href="/highres/IMG_0981.jpeg"><img src="/thumb/IMG_0981.jpeg"></a></li>
<li><a class="fancybox" rel="gallery" href="/highres/IMG_0986.jpeg"><img src="/thumb/IMG_0986.jpeg"></a></li>
<li><a class="fancybox" rel="gallery" href="/highres/IMG_0990.jpeg"><img src="/thumb/IMG_0990.jpeg"></a></li>
