<li><a class="fancybox" rel="gallery" href="resized/highres/20170723_163605.jpg"><img src="resized/thumb/20170723_163605.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20170726_091645.jpg"><img src="resized/thumb/20170726_091645.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20170726_172615.jpg"><img src="resized/thumb/20170726_172615.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/b171.jpg"><img src="resized/thumb/b171.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_0764.jpg"><img src="resized/thumb/IMG_0764.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_0774.jpg"><img src="resized/thumb/IMG_0774.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_0781.jpg"><img src="resized/thumb/IMG_0781.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_0972.jpg"><img src="resized/thumb/IMG_0972.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_0977.jpg"><img src="resized/thumb/IMG_0977.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_0981.jpg"><img src="resized/thumb/IMG_0981.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_0986.jpg"><img src="resized/thumb/IMG_0986.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_0990.jpg"><img src="resized/thumb/IMG_0990.jpg"></a></li>
