<li><a class="fancybox" rel="gallery" href="resized/highres/pic091.jpg"><img src="resized/thumb/pic091.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/pic094.jpg"><img src="resized/thumb/pic094.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/pic1.jpg"><img src="resized/thumb/pic1.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/pic2.jpg"><img src="resized/thumb/pic2.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/pic3.jpg"><img src="resized/thumb/pic3.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/pic4.jpg"><img src="resized/thumb/pic4.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/pic5.jpg"><img src="resized/thumb/pic5.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/pic6.jpg"><img src="resized/thumb/pic6.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/pic7.jpg"><img src="resized/thumb/pic7.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/pic83.jpg"><img src="resized/thumb/pic83.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/pic8.jpg"><img src="resized/thumb/pic8.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/pic911.jpg"><img src="resized/thumb/pic911.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/pic91.jpg"><img src="resized/thumb/pic91.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/pic92.jpg"><img src="resized/thumb/pic92.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/pic93.jpg"><img src="resized/thumb/pic93.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/pic94.jpg"><img src="resized/thumb/pic94.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/pic95.jpg"><img src="resized/thumb/pic95.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/pic96.jpg"><img src="resized/thumb/pic96.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/pic97.jpg"><img src="resized/thumb/pic97.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/pic98.jpg"><img src="resized/thumb/pic98.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/pic999.jpg"><img src="resized/thumb/pic999.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/pic9.jpg"><img src="resized/thumb/pic9.jpg"></a></li>
