<li><a class="fancybox" rel="gallery" href="resized/highres/20230805_205055.jpg"><img src="resized/thumb/20230805_205055.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20230811_115524.jpg"><img src="resized/thumb/20230811_115524.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20230811_190658.jpg"><img src="resized/thumb/20230811_190658.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_20230806_153238_1.jpg"><img src="resized/thumb/IMG_20230806_153238_1.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_20230806_164038_0.jpg"><img src="resized/thumb/IMG_20230806_164038_0.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_20230806_171920_3.jpg"><img src="resized/thumb/IMG_20230806_171920_3.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_20230808_194351_7.jpg"><img src="resized/thumb/IMG_20230808_194351_7.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_20230810_183115_5.jpg"><img src="resized/thumb/IMG_20230810_183115_5.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_20230811_174244_5.jpg"><img src="resized/thumb/IMG_20230811_174244_5.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_20230811_182553_7.jpg"><img src="resized/thumb/IMG_20230811_182553_7.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4585.jpeg"><img src="resized/thumb/IMG_4585.jpeg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4591.jpeg"><img src="resized/thumb/IMG_4591.jpeg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4594.jpeg"><img src="resized/thumb/IMG_4594.jpeg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4600.jpeg"><img src="resized/thumb/IMG_4600.jpeg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4604.jpeg"><img src="resized/thumb/IMG_4604.jpeg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4607.jpeg"><img src="resized/thumb/IMG_4607.jpeg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4618.jpeg"><img src="resized/thumb/IMG_4618.jpeg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4620.jpeg"><img src="resized/thumb/IMG_4620.jpeg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4622.jpeg"><img src="resized/thumb/IMG_4622.jpeg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4624.jpeg"><img src="resized/thumb/IMG_4624.jpeg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4629.jpeg"><img src="resized/thumb/IMG_4629.jpeg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4648.jpeg"><img src="resized/thumb/IMG_4648.jpeg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4652.jpeg"><img src="resized/thumb/IMG_4652.jpeg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4659.jpeg"><img src="resized/thumb/IMG_4659.jpeg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4663.jpeg"><img src="resized/thumb/IMG_4663.jpeg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4668.jpeg"><img src="resized/thumb/IMG_4668.jpeg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4670.jpeg"><img src="resized/thumb/IMG_4670.jpeg"></a></li>
