<li><a class="fancybox" rel="gallery" href="resized/highres/20200809_122519.jpg"><img src="resized/thumb/20200809_122519.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20200809_122527.jpg"><img src="resized/thumb/20200809_122527.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20200809_135135.jpg"><img src="resized/thumb/20200809_135135.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20200809_135147.jpg"><img src="resized/thumb/20200809_135147.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20200809_135305.jpg"><img src="resized/thumb/20200809_135305.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20200809_140805.jpg"><img src="resized/thumb/20200809_140805.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20200809_140810.jpg"><img src="resized/thumb/20200809_140810.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20200809_140815.jpg"><img src="resized/thumb/20200809_140815.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20200809_151726.jpg"><img src="resized/thumb/20200809_151726.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20200809_203833.jpg"><img src="resized/thumb/20200809_203833.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20200809_203839.jpg"><img src="resized/thumb/20200809_203839.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20200809_212519.jpg"><img src="resized/thumb/20200809_212519.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20200810_101611.jpg"><img src="resized/thumb/20200810_101611.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20200810_101613.jpg"><img src="resized/thumb/20200810_101613.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20200810_101619.jpg"><img src="resized/thumb/20200810_101619.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20200810_102017.jpg"><img src="resized/thumb/20200810_102017.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20200810_110358.jpg"><img src="resized/thumb/20200810_110358.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20200810_114622.jpg"><img src="resized/thumb/20200810_114622.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20200810_120241.jpg"><img src="resized/thumb/20200810_120241.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20200810_122008.jpg"><img src="resized/thumb/20200810_122008.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20200811_185939.jpg"><img src="resized/thumb/20200811_185939.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20200811_191931.jpg"><img src="resized/thumb/20200811_191931.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20200811_224054.jpg"><img src="resized/thumb/20200811_224054.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20200812_095704.jpg"><img src="resized/thumb/20200812_095704.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20200812_111216.jpg"><img src="resized/thumb/20200812_111216.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20200812_132255.jpg"><img src="resized/thumb/20200812_132255.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20200812_220047.jpg"><img src="resized/thumb/20200812_220047.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20200813_135335.jpg"><img src="resized/thumb/20200813_135335.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20200813_135653.jpg"><img src="resized/thumb/20200813_135653.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20200813_140548.jpg"><img src="resized/thumb/20200813_140548.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20200813_143603.jpg"><img src="resized/thumb/20200813_143603.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20200813_194953.jpg"><img src="resized/thumb/20200813_194953.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20200814_093924.jpg"><img src="resized/thumb/20200814_093924.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20200814_110926.jpg"><img src="resized/thumb/20200814_110926.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20200814_114306.jpg"><img src="resized/thumb/20200814_114306.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20200814_122630.jpg"><img src="resized/thumb/20200814_122630.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/Gruppenfoto.JPG"><img src="resized/thumb/Gruppenfoto.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/image-1.jpg"><img src="resized/thumb/image-1.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/image-2.jpg"><img src="resized/thumb/image-2.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/image-3.jpg"><img src="resized/thumb/image-3.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/image-4.jpg"><img src="resized/thumb/image-4.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/image-6.jpg"><img src="resized/thumb/image-6.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/image.jpg"><img src="resized/thumb/image.jpg"></a></li>
