<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3286_Red-Wasp_Vespula-rufa_Bornoe_2021-08-02.jpg"><img src="resized/thumb/IMG_3286_Red-Wasp_Vespula-rufa_Bornoe_2021-08-02.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3289.JPG"><img src="resized/thumb/IMG_3289.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3317_Baltic-Isopod_Idothea-baltica_Bornoe_2021-08-02.jpg"><img src="resized/thumb/IMG_3317_Baltic-Isopod_Idothea-baltica_Bornoe_2021-08-02.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3358_Flower-chafer-sp_Bornoe_2021-08-02.jpg"><img src="resized/thumb/IMG_3358_Flower-chafer-sp_Bornoe_2021-08-02.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3387_Leafcutter-Bee_Megachile lapponica_Bornoe_2021-08-02.jpg"><img src="resized/thumb/IMG_3387_Leafcutter-Bee_Megachile lapponica_Bornoe_2021-08-02.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3405.JPG"><img src="resized/thumb/IMG_3405.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3406.JPG"><img src="resized/thumb/IMG_3406.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3407.JPG"><img src="resized/thumb/IMG_3407.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3409.JPG"><img src="resized/thumb/IMG_3409.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3413.JPG"><img src="resized/thumb/IMG_3413.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3417.JPG"><img src="resized/thumb/IMG_3417.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3420.JPG"><img src="resized/thumb/IMG_3420.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3423.JPG"><img src="resized/thumb/IMG_3423.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3425.JPG"><img src="resized/thumb/IMG_3425.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3427.JPG"><img src="resized/thumb/IMG_3427.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3428.JPG"><img src="resized/thumb/IMG_3428.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3429.JPG"><img src="resized/thumb/IMG_3429.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3433.JPG"><img src="resized/thumb/IMG_3433.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3434.JPG"><img src="resized/thumb/IMG_3434.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3436.JPG"><img src="resized/thumb/IMG_3436.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3438.JPG"><img src="resized/thumb/IMG_3438.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3439.JPG"><img src="resized/thumb/IMG_3439.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3448_Common-Copper_Lycaena-phlaeas_Bornoe_2021-08-02.jpg"><img src="resized/thumb/IMG_3448_Common-Copper_Lycaena-phlaeas_Bornoe_2021-08-02.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3508_Common-Starfish_Asterias-rubens_Bornoe_2021-08-03.JPG"><img src="resized/thumb/IMG_3508_Common-Starfish_Asterias-rubens_Bornoe_2021-08-03.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3561.JPG"><img src="resized/thumb/IMG_3561.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3582_Fjord_Bornoe_2021-08-04.jpg"><img src="resized/thumb/IMG_3582_Fjord_Bornoe_2021-08-04.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3586_Fjord_Bornoe_2021-08-04.jpg"><img src="resized/thumb/IMG_3586_Fjord_Bornoe_2021-08-04.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3587_Fjord_Bornoe_2021-08-04.jpg"><img src="resized/thumb/IMG_3587_Fjord_Bornoe_2021-08-04.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3622_A-Small-Amphipod_Hyale-prevosti_probably_Bornoe_2021-08-04.jpg"><img src="resized/thumb/IMG_3622_A-Small-Amphipod_Hyale-prevosti_probably_Bornoe_2021-08-04.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3706_Variegated-Cuckoo-Bee_Epeolus-variegatus_Bornoe_2021-08-04.jpg"><img src="resized/thumb/IMG_3706_Variegated-Cuckoo-Bee_Epeolus-variegatus_Bornoe_2021-08-04.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3726_Leafcutter-Bee_Megachile lapponica_Bornoe_2021-08-04.jpg"><img src="resized/thumb/IMG_3726_Leafcutter-Bee_Megachile lapponica_Bornoe_2021-08-04.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3735_Variegated-Cuckoo-Bee_Epeolus-variegatus_Bornoe_2021-08-04.jpg"><img src="resized/thumb/IMG_3735_Variegated-Cuckoo-Bee_Epeolus-variegatus_Bornoe_2021-08-04.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3739_Leafcutter-Bee_Megachile lapponica_Bornoe_2021-08-04.jpg"><img src="resized/thumb/IMG_3739_Leafcutter-Bee_Megachile lapponica_Bornoe_2021-08-04.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3772_Variegated-Cuckoo-Bee_Epeolus-variegatus_Bornoe_2021-08-04.jpg"><img src="resized/thumb/IMG_3772_Variegated-Cuckoo-Bee_Epeolus-variegatus_Bornoe_2021-08-04.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3790_An-Ant-Mimicking-True-Bug_Himacerus-mirmicoides-nymph_Bornoe_2021-08-04.jpg"><img src="resized/thumb/IMG_3790_An-Ant-Mimicking-True-Bug_Himacerus-mirmicoides-nymph_Bornoe_2021-08-04.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3794_An-Ant-Mimicking-True-Bug_Himacerus-mirmicoides-nymph_Bornoe_2021-08-04.jpg"><img src="resized/thumb/IMG_3794_An-Ant-Mimicking-True-Bug_Himacerus-mirmicoides-nymph_Bornoe_2021-08-04.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3800_An-Ant-Mimicking-True-Bug_Himacerus-mirmicoides-nymph_Bornoe_2021-08-04.jpg"><img src="resized/thumb/IMG_3800_An-Ant-Mimicking-True-Bug_Himacerus-mirmicoides-nymph_Bornoe_2021-08-04.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3843_Grasshopper-sp_no-im-not-even-trying_Bornoe_2021-08-04.jpg"><img src="resized/thumb/IMG_3843_Grasshopper-sp_no-im-not-even-trying_Bornoe_2021-08-04.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3847.JPG"><img src="resized/thumb/IMG_3847.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3849.JPG"><img src="resized/thumb/IMG_3849.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3880.jpg"><img src="resized/thumb/IMG_3880.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3882.jpg"><img src="resized/thumb/IMG_3882.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3885.jpg"><img src="resized/thumb/IMG_3885.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3886.jpg"><img src="resized/thumb/IMG_3886.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3888.jpg"><img src="resized/thumb/IMG_3888.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3889.jpg"><img src="resized/thumb/IMG_3889.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3892.jpg"><img src="resized/thumb/IMG_3892.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3896.jpg"><img src="resized/thumb/IMG_3896.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3898_Red-brown-Longhorn-Beetle_Strictoleptura-rubra-female_Bornoe_2021-08-05.jpg"><img src="resized/thumb/IMG_3898_Red-brown-Longhorn-Beetle_Strictoleptura-rubra-female_Bornoe_2021-08-05.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3900.jpg"><img src="resized/thumb/IMG_3900.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3906.jpg"><img src="resized/thumb/IMG_3906.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3906_Red-brown-Longhorn-Beetle_Strictoleptura-rubra-female_Bornoe_2021-08-05.jpg"><img src="resized/thumb/IMG_3906_Red-brown-Longhorn-Beetle_Strictoleptura-rubra-female_Bornoe_2021-08-05.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3909.jpg"><img src="resized/thumb/IMG_3909.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3916.jpg"><img src="resized/thumb/IMG_3916.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_39171.JPG"><img src="resized/thumb/IMG_39171.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3919.jpg"><img src="resized/thumb/IMG_3919.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3920.jpg"><img src="resized/thumb/IMG_3920.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3921.JPG"><img src="resized/thumb/IMG_3921.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3922.jpg"><img src="resized/thumb/IMG_3922.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3926.jpg"><img src="resized/thumb/IMG_3926.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3936.jpg"><img src="resized/thumb/IMG_3936.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3937.jpg"><img src="resized/thumb/IMG_3937.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3939.jpg"><img src="resized/thumb/IMG_3939.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3943.jpg"><img src="resized/thumb/IMG_3943.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3944.jpg"><img src="resized/thumb/IMG_3944.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3946.jpg"><img src="resized/thumb/IMG_3946.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3947.jpg"><img src="resized/thumb/IMG_3947.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3954.jpg"><img src="resized/thumb/IMG_3954.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3958.jpg"><img src="resized/thumb/IMG_3958.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3960.jpg"><img src="resized/thumb/IMG_3960.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3966.jpg"><img src="resized/thumb/IMG_3966.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3976_Robberfly-sp_Bornoe_2021-08-05.jpg"><img src="resized/thumb/IMG_3976_Robberfly-sp_Bornoe_2021-08-05.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3978.jpg"><img src="resized/thumb/IMG_3978.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3979.jpg"><img src="resized/thumb/IMG_3979.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3981.jpg"><img src="resized/thumb/IMG_3981.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3987.jpg"><img src="resized/thumb/IMG_3987.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3989.jpg"><img src="resized/thumb/IMG_3989.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3989_Robberfly-sp_Bornoe_2021-08-05.jpg"><img src="resized/thumb/IMG_3989_Robberfly-sp_Bornoe_2021-08-05.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3992.jpg"><img src="resized/thumb/IMG_3992.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3995.jpg"><img src="resized/thumb/IMG_3995.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3996.jpg"><img src="resized/thumb/IMG_3996.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_3998.jpg"><img src="resized/thumb/IMG_3998.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4003.jpg"><img src="resized/thumb/IMG_4003.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4010.jpg"><img src="resized/thumb/IMG_4010.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4011_Vapourer-Caterpillar_Orgyia-antiqua_Bornoe_2021-08-05.jpg"><img src="resized/thumb/IMG_4011_Vapourer-Caterpillar_Orgyia-antiqua_Bornoe_2021-08-05.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4012.jpg"><img src="resized/thumb/IMG_4012.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4015.jpg"><img src="resized/thumb/IMG_4015.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4018.jpg"><img src="resized/thumb/IMG_4018.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4021.jpg"><img src="resized/thumb/IMG_4021.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4026.jpg"><img src="resized/thumb/IMG_4026.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4031.jpg"><img src="resized/thumb/IMG_4031.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4034_Variegated-Cuckoo-Bee_Epeolus-cruciger_Bornoe_2021-08-05.jpg"><img src="resized/thumb/IMG_4034_Variegated-Cuckoo-Bee_Epeolus-cruciger_Bornoe_2021-08-05.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4039.jpg"><img src="resized/thumb/IMG_4039.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4042.jpg"><img src="resized/thumb/IMG_4042.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4047.jpg"><img src="resized/thumb/IMG_4047.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4051.jpg"><img src="resized/thumb/IMG_4051.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4053.jpg"><img src="resized/thumb/IMG_4053.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4058.jpg"><img src="resized/thumb/IMG_4058.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4060.jpg"><img src="resized/thumb/IMG_4060.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4063.jpg"><img src="resized/thumb/IMG_4063.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4064_Sap-sucking-Slug_It-does-photosynthesis-with-algae-cells_2021-08-06_Bornoe_Elysia-viridis.jpg"><img src="resized/thumb/IMG_4064_Sap-sucking-Slug_It-does-photosynthesis-with-algae-cells_2021-08-06_Bornoe_Elysia-viridis.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4071.jpg"><img src="resized/thumb/IMG_4071.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4073.jpg"><img src="resized/thumb/IMG_4073.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4074.jpg"><img src="resized/thumb/IMG_4074.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4074Sap-sucking-Slug_It-does-photosynthesis-with-algae-cells__2021-08-06_Bornoe_Elysia-viridis.jpg"><img src="resized/thumb/IMG_4074Sap-sucking-Slug_It-does-photosynthesis-with-algae-cells__2021-08-06_Bornoe_Elysia-viridis.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4075.jpg"><img src="resized/thumb/IMG_4075.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4077.jpg"><img src="resized/thumb/IMG_4077.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4079.jpg"><img src="resized/thumb/IMG_4079.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4080.jpg"><img src="resized/thumb/IMG_4080.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4082.jpg"><img src="resized/thumb/IMG_4082.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4086.jpg"><img src="resized/thumb/IMG_4086.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4088.jpg"><img src="resized/thumb/IMG_4088.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4090_Sap-sucking-Slug_It-does-photosynthesis-with-algae-cells_2021-08-06_Bornoe_Elysia-viridis.jpg"><img src="resized/thumb/IMG_4090_Sap-sucking-Slug_It-does-photosynthesis-with-algae-cells_2021-08-06_Bornoe_Elysia-viridis.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4091.jpg"><img src="resized/thumb/IMG_4091.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4094.jpg"><img src="resized/thumb/IMG_4094.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4095_Chiton-sp_A-Mollusk_Bornoe_2021-08-06.jpg"><img src="resized/thumb/IMG_4095_Chiton-sp_A-Mollusk_Bornoe_2021-08-06.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4095.jpg"><img src="resized/thumb/IMG_4095.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4096.jpg"><img src="resized/thumb/IMG_4096.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4099.jpg"><img src="resized/thumb/IMG_4099.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4100_An-Amphipod_Gammarus-zaddachi_Bornoe_2021-08-06.jpg"><img src="resized/thumb/IMG_4100_An-Amphipod_Gammarus-zaddachi_Bornoe_2021-08-06.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4102.jpg"><img src="resized/thumb/IMG_4102.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4104.jpg"><img src="resized/thumb/IMG_4104.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4105.jpg"><img src="resized/thumb/IMG_4105.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4106.jpg"><img src="resized/thumb/IMG_4106.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4115.jpg"><img src="resized/thumb/IMG_4115.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4116.jpg"><img src="resized/thumb/IMG_4116.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4120.jpg"><img src="resized/thumb/IMG_4120.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4125.jpg"><img src="resized/thumb/IMG_4125.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4126.jpg"><img src="resized/thumb/IMG_4126.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4129.jpg"><img src="resized/thumb/IMG_4129.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4143_Leaf-cutting-Cuckoo-Bee_Coelioxys-sp_Bornoe_2021-08-06.jpg"><img src="resized/thumb/IMG_4143_Leaf-cutting-Cuckoo-Bee_Coelioxys-sp_Bornoe_2021-08-06.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4232_Plasterer-Bee_Colletes-succinctus_Bornoe_2021-08-06.jpg"><img src="resized/thumb/IMG_4232_Plasterer-Bee_Colletes-succinctus_Bornoe_2021-08-06.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4277_Plasterer-Bee_Colletes-succinctus_Bornoe_2021-08-06.jpg"><img src="resized/thumb/IMG_4277_Plasterer-Bee_Colletes-succinctus_Bornoe_2021-08-06.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4311_Cuckoo-Bee_Nomada-rufipes_Bornoe_2021-08-06.jpg"><img src="resized/thumb/IMG_4311_Cuckoo-Bee_Nomada-rufipes_Bornoe_2021-08-06.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4332_Wall-Brown_Lasiommata-megera_Bornoe_2021-08-06.jpg"><img src="resized/thumb/IMG_4332_Wall-Brown_Lasiommata-megera_Bornoe_2021-08-06.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4340_Wall-Brown_Lasiommata-megera_Bornoe_2021-08-06.jpg"><img src="resized/thumb/IMG_4340_Wall-Brown_Lasiommata-megera_Bornoe_2021-08-06.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4361_Rockpool-Shrimp_Palaemon-elegans_Bornoe_2021-08-06.jpg"><img src="resized/thumb/IMG_4361_Rockpool-Shrimp_Palaemon-elegans_Bornoe_2021-08-06.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4397_Rockpool-Shrimp_Palaemon-elegans_Bornoe_2021-08-06.jpg"><img src="resized/thumb/IMG_4397_Rockpool-Shrimp_Palaemon-elegans_Bornoe_2021-08-06.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4529_2021-08-08_Warnemuende_Silbermoewe.jpg"><img src="resized/thumb/IMG_4529_2021-08-08_Warnemuende_Silbermoewe.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/P1010973.JPG"><img src="resized/thumb/P1010973.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/P1010988.JPG"><img src="resized/thumb/P1010988.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/P1020008.JPG"><img src="resized/thumb/P1020008.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/P1020014.JPG"><img src="resized/thumb/P1020014.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/P1020016.JPG"><img src="resized/thumb/P1020016.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/P1020018.JPG"><img src="resized/thumb/P1020018.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/P1020024.JPG"><img src="resized/thumb/P1020024.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/P1020026.JPG"><img src="resized/thumb/P1020026.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/P1020041.JPG"><img src="resized/thumb/P1020041.JPG"></a></li>
