<li><a class="fancybox" rel="gallery" href="resized/highres/0001.jpg"><img src="resized/thumb/0001.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0002.jpg"><img src="resized/thumb/0002.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0003.jpg"><img src="resized/thumb/0003.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0004.jpg"><img src="resized/thumb/0004.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0005.jpg"><img src="resized/thumb/0005.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0006.jpg"><img src="resized/thumb/0006.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0007.jpg"><img src="resized/thumb/0007.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0008.jpg"><img src="resized/thumb/0008.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0009.jpg"><img src="resized/thumb/0009.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0010.jpg"><img src="resized/thumb/0010.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0011.jpg"><img src="resized/thumb/0011.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0012.jpg"><img src="resized/thumb/0012.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0013.jpg"><img src="resized/thumb/0013.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0014.jpg"><img src="resized/thumb/0014.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0015.jpg"><img src="resized/thumb/0015.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0016.jpg"><img src="resized/thumb/0016.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0017.jpg"><img src="resized/thumb/0017.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0018.jpg"><img src="resized/thumb/0018.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0019.jpg"><img src="resized/thumb/0019.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0020.jpg"><img src="resized/thumb/0020.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0021.jpg"><img src="resized/thumb/0021.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0022.jpg"><img src="resized/thumb/0022.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0023.jpg"><img src="resized/thumb/0023.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0024.jpg"><img src="resized/thumb/0024.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0025.jpg"><img src="resized/thumb/0025.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0026.jpg"><img src="resized/thumb/0026.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0027.jpg"><img src="resized/thumb/0027.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0028.jpg"><img src="resized/thumb/0028.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0029.jpg"><img src="resized/thumb/0029.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0030.jpg"><img src="resized/thumb/0030.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0031.jpg"><img src="resized/thumb/0031.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0032.jpg"><img src="resized/thumb/0032.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0033.jpg"><img src="resized/thumb/0033.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0034.jpg"><img src="resized/thumb/0034.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0035.jpg"><img src="resized/thumb/0035.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0036.jpg"><img src="resized/thumb/0036.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0037.jpg"><img src="resized/thumb/0037.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0038.jpg"><img src="resized/thumb/0038.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0039.jpg"><img src="resized/thumb/0039.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0040.jpg"><img src="resized/thumb/0040.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0041.jpg"><img src="resized/thumb/0041.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0042.jpg"><img src="resized/thumb/0042.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0043.jpg"><img src="resized/thumb/0043.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0044.jpg"><img src="resized/thumb/0044.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0045.jpg"><img src="resized/thumb/0045.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0046.jpg"><img src="resized/thumb/0046.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0047.jpg"><img src="resized/thumb/0047.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0048.jpg"><img src="resized/thumb/0048.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0049.jpg"><img src="resized/thumb/0049.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0050.jpg"><img src="resized/thumb/0050.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0051.jpg"><img src="resized/thumb/0051.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0052.jpg"><img src="resized/thumb/0052.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0053.jpg"><img src="resized/thumb/0053.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0054.jpg"><img src="resized/thumb/0054.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0055.jpg"><img src="resized/thumb/0055.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/0056.jpg"><img src="resized/thumb/0056.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/2015-08-01 14.46.21.jpg"><img src="resized/thumb/2015-08-01 14.46.21.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/2015-08-01 14.46.34.jpg"><img src="resized/thumb/2015-08-01 14.46.34.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/2015-08-01 14.46.36.jpg"><img src="resized/thumb/2015-08-01 14.46.36.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05656.JPG"><img src="resized/thumb/DSC05656.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05657.JPG"><img src="resized/thumb/DSC05657.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05659.JPG"><img src="resized/thumb/DSC05659.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05664.JPG"><img src="resized/thumb/DSC05664.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05665.JPG"><img src="resized/thumb/DSC05665.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05667.JPG"><img src="resized/thumb/DSC05667.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05670.JPG"><img src="resized/thumb/DSC05670.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05672.JPG"><img src="resized/thumb/DSC05672.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05674.JPG"><img src="resized/thumb/DSC05674.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05676.JPG"><img src="resized/thumb/DSC05676.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05677.JPG"><img src="resized/thumb/DSC05677.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05681.JPG"><img src="resized/thumb/DSC05681.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05682.JPG"><img src="resized/thumb/DSC05682.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05685.JPG"><img src="resized/thumb/DSC05685.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05689.JPG"><img src="resized/thumb/DSC05689.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05693.JPG"><img src="resized/thumb/DSC05693.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05695.JPG"><img src="resized/thumb/DSC05695.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05700.JPG"><img src="resized/thumb/DSC05700.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05701.JPG"><img src="resized/thumb/DSC05701.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05703.JPG"><img src="resized/thumb/DSC05703.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05704.JPG"><img src="resized/thumb/DSC05704.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05705.JPG"><img src="resized/thumb/DSC05705.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05706.JPG"><img src="resized/thumb/DSC05706.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05707.JPG"><img src="resized/thumb/DSC05707.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05708.JPG"><img src="resized/thumb/DSC05708.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC057171.jpg"><img src="resized/thumb/DSC057171.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05717.JPG"><img src="resized/thumb/DSC05717.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05721.JPG"><img src="resized/thumb/DSC05721.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05722.JPG"><img src="resized/thumb/DSC05722.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05725.JPG"><img src="resized/thumb/DSC05725.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05726.JPG"><img src="resized/thumb/DSC05726.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05728.JPG"><img src="resized/thumb/DSC05728.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05732.JPG"><img src="resized/thumb/DSC05732.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05733.JPG"><img src="resized/thumb/DSC05733.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05736.JPG"><img src="resized/thumb/DSC05736.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05738.JPG"><img src="resized/thumb/DSC05738.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05743.JPG"><img src="resized/thumb/DSC05743.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05745.JPG"><img src="resized/thumb/DSC05745.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05748.JPG"><img src="resized/thumb/DSC05748.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05750.JPG"><img src="resized/thumb/DSC05750.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05752.JPG"><img src="resized/thumb/DSC05752.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05753.JPG"><img src="resized/thumb/DSC05753.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05757.JPG"><img src="resized/thumb/DSC05757.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05762.JPG"><img src="resized/thumb/DSC05762.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05767.JPG"><img src="resized/thumb/DSC05767.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05769.JPG"><img src="resized/thumb/DSC05769.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05770.JPG"><img src="resized/thumb/DSC05770.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05772.JPG"><img src="resized/thumb/DSC05772.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05774.JPG"><img src="resized/thumb/DSC05774.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05776.JPG"><img src="resized/thumb/DSC05776.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05778.JPG"><img src="resized/thumb/DSC05778.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05781.JPG"><img src="resized/thumb/DSC05781.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05782.JPG"><img src="resized/thumb/DSC05782.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05783.JPG"><img src="resized/thumb/DSC05783.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05784.JPG"><img src="resized/thumb/DSC05784.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05785.JPG"><img src="resized/thumb/DSC05785.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05786.JPG"><img src="resized/thumb/DSC05786.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05788.JPG"><img src="resized/thumb/DSC05788.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05790.JPG"><img src="resized/thumb/DSC05790.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05794.JPG"><img src="resized/thumb/DSC05794.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05795.JPG"><img src="resized/thumb/DSC05795.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05799.JPG"><img src="resized/thumb/DSC05799.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05800.JPG"><img src="resized/thumb/DSC05800.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05806.JPG"><img src="resized/thumb/DSC05806.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05809.JPG"><img src="resized/thumb/DSC05809.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05810.JPG"><img src="resized/thumb/DSC05810.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05816.JPG"><img src="resized/thumb/DSC05816.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05817.JPG"><img src="resized/thumb/DSC05817.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05818.JPG"><img src="resized/thumb/DSC05818.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05819.JPG"><img src="resized/thumb/DSC05819.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05820.JPG"><img src="resized/thumb/DSC05820.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05822.JPG"><img src="resized/thumb/DSC05822.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05823.JPG"><img src="resized/thumb/DSC05823.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05837.JPG"><img src="resized/thumb/DSC05837.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05838.JPG"><img src="resized/thumb/DSC05838.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05843.JPG"><img src="resized/thumb/DSC05843.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05844.JPG"><img src="resized/thumb/DSC05844.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05846.JPG"><img src="resized/thumb/DSC05846.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05847.JPG"><img src="resized/thumb/DSC05847.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05848.JPG"><img src="resized/thumb/DSC05848.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05849.JPG"><img src="resized/thumb/DSC05849.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05850.JPG"><img src="resized/thumb/DSC05850.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05851.JPG"><img src="resized/thumb/DSC05851.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05852.JPG"><img src="resized/thumb/DSC05852.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05853.JPG"><img src="resized/thumb/DSC05853.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05854.JPG"><img src="resized/thumb/DSC05854.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05855.JPG"><img src="resized/thumb/DSC05855.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05857.JPG"><img src="resized/thumb/DSC05857.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05858.JPG"><img src="resized/thumb/DSC05858.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05859.JPG"><img src="resized/thumb/DSC05859.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05861.JPG"><img src="resized/thumb/DSC05861.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05862.JPG"><img src="resized/thumb/DSC05862.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05863.JPG"><img src="resized/thumb/DSC05863.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05864.JPG"><img src="resized/thumb/DSC05864.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05865.JPG"><img src="resized/thumb/DSC05865.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05867.JPG"><img src="resized/thumb/DSC05867.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05874.JPG"><img src="resized/thumb/DSC05874.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05878.JPG"><img src="resized/thumb/DSC05878.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC05885.JPG"><img src="resized/thumb/DSC05885.JPG"></a></li>
