<li><a class="fancybox" rel="gallery" href="resized/highres/DSC06831.JPG"><img src="resized/thumb/DSC06831.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC06835.JPG"><img src="resized/thumb/DSC06835.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC06855.JPG"><img src="resized/thumb/DSC06855.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC06859.JPG"><img src="resized/thumb/DSC06859.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC06871.JPG"><img src="resized/thumb/DSC06871.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC06892.JPG"><img src="resized/thumb/DSC06892.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC06895.JPG"><img src="resized/thumb/DSC06895.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_0065.JPG"><img src="resized/thumb/IMG_0065.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_0067.JPG"><img src="resized/thumb/IMG_0067.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_0070.JPG"><img src="resized/thumb/IMG_0070.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_0083.JPG"><img src="resized/thumb/IMG_0083.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_0086.JPG"><img src="resized/thumb/IMG_0086.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_0087.JPG"><img src="resized/thumb/IMG_0087.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_0088.JPG"><img src="resized/thumb/IMG_0088.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_0089.JPG"><img src="resized/thumb/IMG_0089.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_0091.JPG"><img src="resized/thumb/IMG_0091.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_0094.JPG"><img src="resized/thumb/IMG_0094.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_9238.JPG"><img src="resized/thumb/IMG_9238.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_9241.JPG"><img src="resized/thumb/IMG_9241.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_9245.JPG"><img src="resized/thumb/IMG_9245.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_9256.JPG"><img src="resized/thumb/IMG_9256.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_9257.JPG"><img src="resized/thumb/IMG_9257.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_9269.JPG"><img src="resized/thumb/IMG_9269.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_9274.JPG"><img src="resized/thumb/IMG_9274.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_9283.JPG"><img src="resized/thumb/IMG_9283.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_9299.JPG"><img src="resized/thumb/IMG_9299.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_9303.JPG"><img src="resized/thumb/IMG_9303.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_9304.JPG"><img src="resized/thumb/IMG_9304.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_9306.JPG"><img src="resized/thumb/IMG_9306.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_9307.JPG"><img src="resized/thumb/IMG_9307.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_9310.JPG"><img src="resized/thumb/IMG_9310.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_9312.JPG"><img src="resized/thumb/IMG_9312.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_9314.JPG"><img src="resized/thumb/IMG_9314.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_9324.JPG"><img src="resized/thumb/IMG_9324.JPG"></a></li>
