<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF5191.JPG"><img src="resized/thumb/DSCF5191.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF5315.JPG"><img src="resized/thumb/DSCF5315.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF5323.JPG"><img src="resized/thumb/DSCF5323.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF5492.JPG"><img src="resized/thumb/DSCF5492.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF5514.JPG"><img src="resized/thumb/DSCF5514.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF5520.JPG"><img src="resized/thumb/DSCF5520.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF5528.JPG"><img src="resized/thumb/DSCF5528.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF5531.JPG"><img src="resized/thumb/DSCF5531.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF5601.JPG"><img src="resized/thumb/DSCF5601.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF5612.JPG"><img src="resized/thumb/DSCF5612.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSCF5616.JPG"><img src="resized/thumb/DSCF5616.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/group photo.jpeg"><img src="resized/thumb/group photo.jpeg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4472.jpg"><img src="resized/thumb/IMG_4472.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4484.jpg"><img src="resized/thumb/IMG_4484.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4497.jpg"><img src="resized/thumb/IMG_4497.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4502.jpg"><img src="resized/thumb/IMG_4502.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4520.jpg"><img src="resized/thumb/IMG_4520.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_4524.jpg"><img src="resized/thumb/IMG_4524.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/PXL_20220808_065934358.jpg"><img src="resized/thumb/PXL_20220808_065934358.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/PXL_20220808_105813033.MP.jpg"><img src="resized/thumb/PXL_20220808_105813033.MP.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/PXL_20220808_143755904.jpg"><img src="resized/thumb/PXL_20220808_143755904.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/PXL_20220808_143919604.MP.jpg"><img src="resized/thumb/PXL_20220808_143919604.MP.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/PXL_20220808_150132652.jpg"><img src="resized/thumb/PXL_20220808_150132652.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/PXL_20220808_191704765.jpg"><img src="resized/thumb/PXL_20220808_191704765.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/PXL_20220809_083712321.jpg"><img src="resized/thumb/PXL_20220809_083712321.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/PXL_20220809_085133637.jpg"><img src="resized/thumb/PXL_20220809_085133637.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/PXL_20220809_092512343.jpg"><img src="resized/thumb/PXL_20220809_092512343.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/PXL_20220809_092637017.jpg"><img src="resized/thumb/PXL_20220809_092637017.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/PXL_20220809_103359098.MP.jpg"><img src="resized/thumb/PXL_20220809_103359098.MP.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/PXL_20220809_103407764.jpg"><img src="resized/thumb/PXL_20220809_103407764.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/PXL_20220809_122544219.jpg"><img src="resized/thumb/PXL_20220809_122544219.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/PXL_20220809_140549333.MP.jpg"><img src="resized/thumb/PXL_20220809_140549333.MP.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/PXL_20220809_141908097.jpg"><img src="resized/thumb/PXL_20220809_141908097.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/PXL_20220809_173941108.MP.jpg"><img src="resized/thumb/PXL_20220809_173941108.MP.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/PXL_20220810_085718238.jpg"><img src="resized/thumb/PXL_20220810_085718238.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/PXL_20220810_125403760.MP.jpg"><img src="resized/thumb/PXL_20220810_125403760.MP.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/PXL_20220811_143130828.MP.jpg"><img src="resized/thumb/PXL_20220811_143130828.MP.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/PXL_20220811_183521819.jpg"><img src="resized/thumb/PXL_20220811_183521819.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/PXL_20220811_184929340.jpg"><img src="resized/thumb/PXL_20220811_184929340.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/PXL_20220812_071415075.jpg"><img src="resized/thumb/PXL_20220812_071415075.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/PXL_20220812_071536475.MP.jpg"><img src="resized/thumb/PXL_20220812_071536475.MP.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/PXL_20220812_155410662.jpg"><img src="resized/thumb/PXL_20220812_155410662.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/PXL_20220812_155507956.PANO.jpg"><img src="resized/thumb/PXL_20220812_155507956.PANO.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/PXL_20220812_182029142.jpg"><img src="resized/thumb/PXL_20220812_182029142.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/PXL_20220812_182429363.PANO.jpg"><img src="resized/thumb/PXL_20220812_182429363.PANO.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/PXL_20220812_183148901.jpg"><img src="resized/thumb/PXL_20220812_183148901.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/PXL_20220812_184136521.MP.jpg"><img src="resized/thumb/PXL_20220812_184136521.MP.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/PXL_20220812_185439031.MP.jpg"><img src="resized/thumb/PXL_20220812_185439031.MP.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/PXL_20220812_190600709.MP.jpg"><img src="resized/thumb/PXL_20220812_190600709.MP.jpg"></a></li>
