<li><a class="fancybox" rel="gallery" href="sorted/highres/20140707-170225_IMG_0097.JPG"><img src="sorted/thumb/20140707-170225_IMG_0097.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140707-170238_IMG_0098.JPG"><img src="sorted/thumb/20140707-170238_IMG_0098.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140707-170751_IMG_0102.JPG"><img src="sorted/thumb/20140707-170751_IMG_0102.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140707-171617_IMG_0104.JPG"><img src="sorted/thumb/20140707-171617_IMG_0104.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140707-220706_IMG_0109.JPG"><img src="sorted/thumb/20140707-220706_IMG_0109.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140707-235153_DSC_1254.jpg"><img src="sorted/thumb/20140707-235153_DSC_1254.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140707-235305_DSC_1255.jpg"><img src="sorted/thumb/20140707-235305_DSC_1255.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140708-085453_IMG_2412.JPG"><img src="sorted/thumb/20140708-085453_IMG_2412.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140708-094713_IMG_1060.JPG"><img src="sorted/thumb/20140708-094713_IMG_1060.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140708-120355_IMG_2422.JPG"><img src="sorted/thumb/20140708-120355_IMG_2422.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140708-133038_IMG_0114.JPG"><img src="sorted/thumb/20140708-133038_IMG_0114.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140708-142100_IMG_1074.JPG"><img src="sorted/thumb/20140708-142100_IMG_1074.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140708-152644_DSCN1725.JPG"><img src="sorted/thumb/20140708-152644_DSCN1725.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140708-165614_DSCN1746.JPG"><img src="sorted/thumb/20140708-165614_DSCN1746.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140708-172701__SAM7558.JPG"><img src="sorted/thumb/20140708-172701__SAM7558.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140708-182956__SAM7600.JPG"><img src="sorted/thumb/20140708-182956__SAM7600.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140708-183923__SAM7624.JPG"><img src="sorted/thumb/20140708-183923__SAM7624.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140708-185043__SAM7644.JPG"><img src="sorted/thumb/20140708-185043__SAM7644.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140708-191948_DSC_1274.jpg"><img src="sorted/thumb/20140708-191948_DSC_1274.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140708-195601_IMG_1107.JPG"><img src="sorted/thumb/20140708-195601_IMG_1107.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140708-201926_IMG_1114.JPG"><img src="sorted/thumb/20140708-201926_IMG_1114.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140708-210807_IMG_1122.JPG"><img src="sorted/thumb/20140708-210807_IMG_1122.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140708-210807_IMG_1256.jpg"><img src="sorted/thumb/20140708-210807_IMG_1256.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140708-210807_IMG_1294.jpg"><img src="sorted/thumb/20140708-210807_IMG_1294.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140708-235524_DSCN1777.JPG"><img src="sorted/thumb/20140708-235524_DSCN1777.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140708-235855_DSCN1781.JPG"><img src="sorted/thumb/20140708-235855_DSCN1781.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140709-000942_DSC_1281.jpg"><img src="sorted/thumb/20140709-000942_DSC_1281.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140709-001300_DSC_1283.jpg"><img src="sorted/thumb/20140709-001300_DSC_1283.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140709-001608_DSC_1284.jpg"><img src="sorted/thumb/20140709-001608_DSC_1284.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140709-003005_DSCN1805.JPG"><img src="sorted/thumb/20140709-003005_DSCN1805.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140709-105221_DSCN1815.JPG"><img src="sorted/thumb/20140709-105221_DSCN1815.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140709-144202_IMG_0155.JPG"><img src="sorted/thumb/20140709-144202_IMG_0155.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140709-144209_IMG_0156.JPG"><img src="sorted/thumb/20140709-144209_IMG_0156.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140709-161806__SAM7660.JPG"><img src="sorted/thumb/20140709-161806__SAM7660.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140709-165702_DSCN1816.JPG"><img src="sorted/thumb/20140709-165702_DSCN1816.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140709-182106_IMG_0375.JPG"><img src="sorted/thumb/20140709-182106_IMG_0375.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140709-185907__SAM7731.JPG"><img src="sorted/thumb/20140709-185907__SAM7731.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140709-194530__SAM7753.JPG"><img src="sorted/thumb/20140709-194530__SAM7753.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140709-203410_DSCN1822.JPG"><img src="sorted/thumb/20140709-203410_DSCN1822.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140709-213804_IMG_0161.JPG"><img src="sorted/thumb/20140709-213804_IMG_0161.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140709-221256_IMG_2535.JPG"><img src="sorted/thumb/20140709-221256_IMG_2535.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140709-222914_IMG_0175.JPG"><img src="sorted/thumb/20140709-222914_IMG_0175.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140710-103039_IMG_0205.JPG"><img src="sorted/thumb/20140710-103039_IMG_0205.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140710-103054_IMG_1308.JPG"><img src="sorted/thumb/20140710-103054_IMG_1308.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140710-155333_IMG_0418.JPG"><img src="sorted/thumb/20140710-155333_IMG_0418.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140710-155603_IMG_1317.JPG"><img src="sorted/thumb/20140710-155603_IMG_1317.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140710-155603_IMG_1351.jpg"><img src="sorted/thumb/20140710-155603_IMG_1351.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140710-173420_DSC_1320.jpg"><img src="sorted/thumb/20140710-173420_DSC_1320.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140710-181015__SAM7854.JPG"><img src="sorted/thumb/20140710-181015__SAM7854.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140710-184910_DSC_1349.jpg"><img src="sorted/thumb/20140710-184910_DSC_1349.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140710-192115__SAM7901.JPG"><img src="sorted/thumb/20140710-192115__SAM7901.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140710-195117_DSC_1368.jpg"><img src="sorted/thumb/20140710-195117_DSC_1368.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140710-202427__SAM7958.JPG"><img src="sorted/thumb/20140710-202427__SAM7958.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140710-202430__SAM7959.JPG"><img src="sorted/thumb/20140710-202430__SAM7959.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140710-203045__SAM7967.JPG"><img src="sorted/thumb/20140710-203045__SAM7967.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140710-211059__SAM7980.JPG"><img src="sorted/thumb/20140710-211059__SAM7980.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140710-211847_IMG_1427.JPG"><img src="sorted/thumb/20140710-211847_IMG_1427.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140710-211922_IMG_0216.JPG"><img src="sorted/thumb/20140710-211922_IMG_0216.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140710-215733_DSCN2021.JPG"><img src="sorted/thumb/20140710-215733_DSCN2021.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140710-233408_IMG_0232.JPG"><img src="sorted/thumb/20140710-233408_IMG_0232.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140711-002550_DSC_1383.jpg"><img src="sorted/thumb/20140711-002550_DSC_1383.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140711-081818_IMG_0273.JPG"><img src="sorted/thumb/20140711-081818_IMG_0273.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140711-112100_DSC_1400.jpg"><img src="sorted/thumb/20140711-112100_DSC_1400.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20140711-123013_DSCN2078.JPG"><img src="sorted/thumb/20140711-123013_DSCN2078.JPG"></a></li>
