<li><a class="fancybox" rel="gallery" href="resized/highres/1.jpg"><img src="resized/thumb/1.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190921_194254.jpg"><img src="resized/thumb/20190921_194254.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190921_203035.jpg"><img src="resized/thumb/20190921_203035.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190922_085854.jpg"><img src="resized/thumb/20190922_085854.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190922_092614.jpg"><img src="resized/thumb/20190922_092614.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190922_0926200.jpg"><img src="resized/thumb/20190922_0926200.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190922_095524.jpg"><img src="resized/thumb/20190922_095524.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190922_095535.jpg"><img src="resized/thumb/20190922_095535.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190922_110759.jpg"><img src="resized/thumb/20190922_110759.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190922_181722.jpg"><img src="resized/thumb/20190922_181722.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190922_182729.jpg"><img src="resized/thumb/20190922_182729.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190923_172341.jpg"><img src="resized/thumb/20190923_172341.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190924_090850.jpg"><img src="resized/thumb/20190924_090850.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190924_091203.jpg"><img src="resized/thumb/20190924_091203.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190924_091244.jpg"><img src="resized/thumb/20190924_091244.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190924_091251.jpg"><img src="resized/thumb/20190924_091251.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190924_140323.jpg"><img src="resized/thumb/20190924_140323.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190924_140330.jpg"><img src="resized/thumb/20190924_140330.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190924_140337.jpg"><img src="resized/thumb/20190924_140337.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190924_140347.jpg"><img src="resized/thumb/20190924_140347.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190924_194559.jpg"><img src="resized/thumb/20190924_194559.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190925_110143.jpg"><img src="resized/thumb/20190925_110143.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190925_110218.jpg"><img src="resized/thumb/20190925_110218.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190926_090636.jpg"><img src="resized/thumb/20190926_090636.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190927_101651.jpg"><img src="resized/thumb/20190927_101651.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/20190927_101819.jpg"><img src="resized/thumb/20190927_101819.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/2.jpg"><img src="resized/thumb/2.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/3.jpg"><img src="resized/thumb/3.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/Bornoe_JP_1.jpg"><img src="resized/thumb/Bornoe_JP_1.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/Bornoe_JP_2.jpg"><img src="resized/thumb/Bornoe_JP_2.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/Bornoe_JP_3.jpg"><img src="resized/thumb/Bornoe_JP_3.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC06811.JPG"><img src="resized/thumb/DSC06811.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC06812.JPG"><img src="resized/thumb/DSC06812.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC06813.JPG"><img src="resized/thumb/DSC06813.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC06815.JPG"><img src="resized/thumb/DSC06815.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC06823.JPG"><img src="resized/thumb/DSC06823.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC06824.JPG"><img src="resized/thumb/DSC06824.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC06825.JPG"><img src="resized/thumb/DSC06825.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC06830.JPG"><img src="resized/thumb/DSC06830.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC06831.JPG"><img src="resized/thumb/DSC06831.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC06832.JPG"><img src="resized/thumb/DSC06832.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC06833.JPG"><img src="resized/thumb/DSC06833.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC06834.JPG"><img src="resized/thumb/DSC06834.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC06835.JPG"><img src="resized/thumb/DSC06835.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC06836.JPG"><img src="resized/thumb/DSC06836.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC06838.JPG"><img src="resized/thumb/DSC06838.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC06839.JPG"><img src="resized/thumb/DSC06839.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC06840.JPG"><img src="resized/thumb/DSC06840.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC06841.JPG"><img src="resized/thumb/DSC06841.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC06842.JPG"><img src="resized/thumb/DSC06842.JPG"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_20190923_150026.jpg"><img src="resized/thumb/IMG_20190923_150026.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_20190923_150118.jpg"><img src="resized/thumb/IMG_20190923_150118.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_20190923_150221.jpg"><img src="resized/thumb/IMG_20190923_150221.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_20190923_150537.jpg"><img src="resized/thumb/IMG_20190923_150537.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_20190923_150542.jpg"><img src="resized/thumb/IMG_20190923_150542.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_20190923_150550.jpg"><img src="resized/thumb/IMG_20190923_150550.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_20190924_083416.jpg"><img src="resized/thumb/IMG_20190924_083416.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_20190924_083429.jpg"><img src="resized/thumb/IMG_20190924_083429.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_20190926_211355.jpg"><img src="resized/thumb/IMG_20190926_211355.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_2438.jpg"><img src="resized/thumb/IMG_2438.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/IMG_2439.jpg"><img src="resized/thumb/IMG_2439.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/P9270243.jpg"><img src="resized/thumb/P9270243.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/P9270251.jpg"><img src="resized/thumb/P9270251.jpg"></a></li>
