<li><a class="fancybox" rel="gallery" href="sorted/highres/20150719-181806.jpg"><img src="sorted/thumb/20150719-181806.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150720-162423.jpg"><img src="sorted/thumb/20150720-162423.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150720-162431.jpg"><img src="sorted/thumb/20150720-162431.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150720-162446.jpg"><img src="sorted/thumb/20150720-162446.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150720-162827.jpg"><img src="sorted/thumb/20150720-162827.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150720-163052.jpg"><img src="sorted/thumb/20150720-163052.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150720-163240.jpg"><img src="sorted/thumb/20150720-163240.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150720-163404.jpg"><img src="sorted/thumb/20150720-163404.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150720-163426.jpg"><img src="sorted/thumb/20150720-163426.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150720-163443.jpg"><img src="sorted/thumb/20150720-163443.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150720-164108.jpg"><img src="sorted/thumb/20150720-164108.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150720-164430.jpg"><img src="sorted/thumb/20150720-164430.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150720-164450.jpg"><img src="sorted/thumb/20150720-164450.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150720-174120.jpg"><img src="sorted/thumb/20150720-174120.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150720-174128.jpg"><img src="sorted/thumb/20150720-174128.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150720-174143.jpg"><img src="sorted/thumb/20150720-174143.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150720-182605.jpg"><img src="sorted/thumb/20150720-182605.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150720-183434.jpg"><img src="sorted/thumb/20150720-183434.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150720-192723.jpg"><img src="sorted/thumb/20150720-192723.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150720-192730.jpg"><img src="sorted/thumb/20150720-192730.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150720-210448.jpg"><img src="sorted/thumb/20150720-210448.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150720-212823.jpg"><img src="sorted/thumb/20150720-212823.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150720-212939.jpg"><img src="sorted/thumb/20150720-212939.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150720-213001.jpg"><img src="sorted/thumb/20150720-213001.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150720-215625.jpg"><img src="sorted/thumb/20150720-215625.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150720-215649.jpg"><img src="sorted/thumb/20150720-215649.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150720-215912.jpg"><img src="sorted/thumb/20150720-215912.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150720-221137.jpg"><img src="sorted/thumb/20150720-221137.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150720-221152.jpg"><img src="sorted/thumb/20150720-221152.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150720-221245.jpg"><img src="sorted/thumb/20150720-221245.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150720-221403.jpg"><img src="sorted/thumb/20150720-221403.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-024135.jpg"><img src="sorted/thumb/20150721-024135.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-095619.jpg"><img src="sorted/thumb/20150721-095619.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-095638.jpg"><img src="sorted/thumb/20150721-095638.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-110526.jpg"><img src="sorted/thumb/20150721-110526.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-110540.jpg"><img src="sorted/thumb/20150721-110540.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-114507.jpg"><img src="sorted/thumb/20150721-114507.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-123955.jpg"><img src="sorted/thumb/20150721-123955.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-140846.jpg"><img src="sorted/thumb/20150721-140846.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-143343.jpg"><img src="sorted/thumb/20150721-143343.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-155247.jpg"><img src="sorted/thumb/20150721-155247.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-161054.jpg"><img src="sorted/thumb/20150721-161054.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-165540.jpg"><img src="sorted/thumb/20150721-165540.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-165543.jpg"><img src="sorted/thumb/20150721-165543.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-165606.jpg"><img src="sorted/thumb/20150721-165606.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-165652.jpg"><img src="sorted/thumb/20150721-165652.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-165654.jpg"><img src="sorted/thumb/20150721-165654.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-165700.jpg"><img src="sorted/thumb/20150721-165700.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-173346.jpg"><img src="sorted/thumb/20150721-173346.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-173534.jpg"><img src="sorted/thumb/20150721-173534.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-173553.jpg"><img src="sorted/thumb/20150721-173553.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-173602.jpg"><img src="sorted/thumb/20150721-173602.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-173918.jpg"><img src="sorted/thumb/20150721-173918.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-173932.jpg"><img src="sorted/thumb/20150721-173932.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-174104.jpg"><img src="sorted/thumb/20150721-174104.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-174107.jpg"><img src="sorted/thumb/20150721-174107.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-175228.jpg"><img src="sorted/thumb/20150721-175228.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-175237.jpg"><img src="sorted/thumb/20150721-175237.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-175436.jpg"><img src="sorted/thumb/20150721-175436.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-175455.jpg"><img src="sorted/thumb/20150721-175455.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-175531.jpg"><img src="sorted/thumb/20150721-175531.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-175920.jpg"><img src="sorted/thumb/20150721-175920.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-180029.jpg"><img src="sorted/thumb/20150721-180029.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-181626.jpg"><img src="sorted/thumb/20150721-181626.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-181959.jpg"><img src="sorted/thumb/20150721-181959.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-182004.jpg"><img src="sorted/thumb/20150721-182004.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-182631.jpg"><img src="sorted/thumb/20150721-182631.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-183118.jpg"><img src="sorted/thumb/20150721-183118.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-183203.jpg"><img src="sorted/thumb/20150721-183203.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-183903.jpg"><img src="sorted/thumb/20150721-183903.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-184627.jpg"><img src="sorted/thumb/20150721-184627.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-184916.jpg"><img src="sorted/thumb/20150721-184916.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-184954.jpg"><img src="sorted/thumb/20150721-184954.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-185112.jpg"><img src="sorted/thumb/20150721-185112.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-185320.jpg"><img src="sorted/thumb/20150721-185320.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-185837.jpg"><img src="sorted/thumb/20150721-185837.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-191626.jpg"><img src="sorted/thumb/20150721-191626.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-191630.jpg"><img src="sorted/thumb/20150721-191630.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-191634.jpg"><img src="sorted/thumb/20150721-191634.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-191648.jpg"><img src="sorted/thumb/20150721-191648.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-191748.jpg"><img src="sorted/thumb/20150721-191748.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-191758.jpg"><img src="sorted/thumb/20150721-191758.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-191826.jpg"><img src="sorted/thumb/20150721-191826.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-192107.jpg"><img src="sorted/thumb/20150721-192107.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-214452.jpg"><img src="sorted/thumb/20150721-214452.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-214501.jpg"><img src="sorted/thumb/20150721-214501.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-214511.jpg"><img src="sorted/thumb/20150721-214511.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-214528.jpg"><img src="sorted/thumb/20150721-214528.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150721-215953.jpg"><img src="sorted/thumb/20150721-215953.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150722-092402.jpg"><img src="sorted/thumb/20150722-092402.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150722-092953.jpg"><img src="sorted/thumb/20150722-092953.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150722-101235.jpg"><img src="sorted/thumb/20150722-101235.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150722-102528.jpg"><img src="sorted/thumb/20150722-102528.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150722-102532.jpg"><img src="sorted/thumb/20150722-102532.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150722-104125.jpg"><img src="sorted/thumb/20150722-104125.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150722-111455.jpg"><img src="sorted/thumb/20150722-111455.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150722-111517.jpg"><img src="sorted/thumb/20150722-111517.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150722-112208.jpg"><img src="sorted/thumb/20150722-112208.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150722-112841.jpg"><img src="sorted/thumb/20150722-112841.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150722-121014.jpg"><img src="sorted/thumb/20150722-121014.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150722-121022.jpg"><img src="sorted/thumb/20150722-121022.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150722-121107.jpg"><img src="sorted/thumb/20150722-121107.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150722-132445.jpg"><img src="sorted/thumb/20150722-132445.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150722-132512.jpg"><img src="sorted/thumb/20150722-132512.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150722-150548.jpg"><img src="sorted/thumb/20150722-150548.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150722-152608.jpg"><img src="sorted/thumb/20150722-152608.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150722-152650.jpg"><img src="sorted/thumb/20150722-152650.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150722-152715.jpg"><img src="sorted/thumb/20150722-152715.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150722-152718.jpg"><img src="sorted/thumb/20150722-152718.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150722-152735.jpg"><img src="sorted/thumb/20150722-152735.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150722-154555.jpg"><img src="sorted/thumb/20150722-154555.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150722-154602.jpg"><img src="sorted/thumb/20150722-154602.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150722-164859.jpg"><img src="sorted/thumb/20150722-164859.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150722-164907.jpg"><img src="sorted/thumb/20150722-164907.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150722-164923.jpg"><img src="sorted/thumb/20150722-164923.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150722-180022.jpg"><img src="sorted/thumb/20150722-180022.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150722-180037.jpg"><img src="sorted/thumb/20150722-180037.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150722-190017.jpg"><img src="sorted/thumb/20150722-190017.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150722-190117.jpg"><img src="sorted/thumb/20150722-190117.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150722-190218.jpg"><img src="sorted/thumb/20150722-190218.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150722-190347.jpg"><img src="sorted/thumb/20150722-190347.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150722-190433.jpg"><img src="sorted/thumb/20150722-190433.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150722-191908.jpg"><img src="sorted/thumb/20150722-191908.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150722-214546.jpg"><img src="sorted/thumb/20150722-214546.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150722-215449.jpg"><img src="sorted/thumb/20150722-215449.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150722-215549.jpg"><img src="sorted/thumb/20150722-215549.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150722-215703.jpg"><img src="sorted/thumb/20150722-215703.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150722-215935.jpg"><img src="sorted/thumb/20150722-215935.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150723-090615.jpg"><img src="sorted/thumb/20150723-090615.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150723-090626.jpg"><img src="sorted/thumb/20150723-090626.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150723-090812.jpg"><img src="sorted/thumb/20150723-090812.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150723-090821.jpg"><img src="sorted/thumb/20150723-090821.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150723-091920.jpg"><img src="sorted/thumb/20150723-091920.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150723-135852.jpg"><img src="sorted/thumb/20150723-135852.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150723-140011.jpg"><img src="sorted/thumb/20150723-140011.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150723-140853.jpg"><img src="sorted/thumb/20150723-140853.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150723-141922.jpg"><img src="sorted/thumb/20150723-141922.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150723-141925.jpg"><img src="sorted/thumb/20150723-141925.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150723-184020.jpg"><img src="sorted/thumb/20150723-184020.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150723-184023.jpg"><img src="sorted/thumb/20150723-184023.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150723-184024.jpg"><img src="sorted/thumb/20150723-184024.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150723-184026.jpg"><img src="sorted/thumb/20150723-184026.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150723-211600.jpg"><img src="sorted/thumb/20150723-211600.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150723-211729.jpg"><img src="sorted/thumb/20150723-211729.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150723-222102.jpg"><img src="sorted/thumb/20150723-222102.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150723-230228.jpg"><img src="sorted/thumb/20150723-230228.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150723-231254.jpg"><img src="sorted/thumb/20150723-231254.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150724-013631.jpg"><img src="sorted/thumb/20150724-013631.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150724-014004.jpg"><img src="sorted/thumb/20150724-014004.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150724-014116.jpg"><img src="sorted/thumb/20150724-014116.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150724-014246.jpg"><img src="sorted/thumb/20150724-014246.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150724-015239.jpg"><img src="sorted/thumb/20150724-015239.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150724-020150.jpg"><img src="sorted/thumb/20150724-020150.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150724-020407.jpg"><img src="sorted/thumb/20150724-020407.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150724-020736.jpg"><img src="sorted/thumb/20150724-020736.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150724-022131.jpg"><img src="sorted/thumb/20150724-022131.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150724-024755.jpg"><img src="sorted/thumb/20150724-024755.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150724-040806.jpg"><img src="sorted/thumb/20150724-040806.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150724-041037.jpg"><img src="sorted/thumb/20150724-041037.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150724-041132.jpg"><img src="sorted/thumb/20150724-041132.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150724-142943.jpg"><img src="sorted/thumb/20150724-142943.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150724-153413.jpg"><img src="sorted/thumb/20150724-153413.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150724-153423.jpg"><img src="sorted/thumb/20150724-153423.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150724-153434.jpg"><img src="sorted/thumb/20150724-153434.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150724-153446.jpg"><img src="sorted/thumb/20150724-153446.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150724-154636.jpg"><img src="sorted/thumb/20150724-154636.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150724-162915.jpg"><img src="sorted/thumb/20150724-162915.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150724-162926.jpg"><img src="sorted/thumb/20150724-162926.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150724-230158.jpg"><img src="sorted/thumb/20150724-230158.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150724-230208.jpg"><img src="sorted/thumb/20150724-230208.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150724-230324.jpg"><img src="sorted/thumb/20150724-230324.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150725-063014.jpg"><img src="sorted/thumb/20150725-063014.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150725-063111.jpg"><img src="sorted/thumb/20150725-063111.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150725-063950.jpg"><img src="sorted/thumb/20150725-063950.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150725-063958.jpg"><img src="sorted/thumb/20150725-063958.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150725-064224.jpg"><img src="sorted/thumb/20150725-064224.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="sorted/highres/20150725-064239.jpg"><img src="sorted/thumb/20150725-064239.jpg"></a></li>
