<li><a class="fancybox" rel="gallery" href="resized/highres/DSC02274.jpg"><img src="resized/thumb/DSC02274.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC02277.jpg"><img src="resized/thumb/DSC02277.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC02278.jpg"><img src="resized/thumb/DSC02278.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC02281.jpg"><img src="resized/thumb/DSC02281.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC02298.jpg"><img src="resized/thumb/DSC02298.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC02301.jpg"><img src="resized/thumb/DSC02301.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC02302.jpg"><img src="resized/thumb/DSC02302.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC02304.jpg"><img src="resized/thumb/DSC02304.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC02305.jpg"><img src="resized/thumb/DSC02305.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC02306.jpg"><img src="resized/thumb/DSC02306.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC02307.jpg"><img src="resized/thumb/DSC02307.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC02314.jpg"><img src="resized/thumb/DSC02314.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC02321.jpg"><img src="resized/thumb/DSC02321.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC02324.jpg"><img src="resized/thumb/DSC02324.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC02328.jpg"><img src="resized/thumb/DSC02328.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC02329.jpg"><img src="resized/thumb/DSC02329.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC02335.jpg"><img src="resized/thumb/DSC02335.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC02337.jpg"><img src="resized/thumb/DSC02337.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC02341.jpg"><img src="resized/thumb/DSC02341.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC02342.jpg"><img src="resized/thumb/DSC02342.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC02343.jpg"><img src="resized/thumb/DSC02343.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC02344.jpg"><img src="resized/thumb/DSC02344.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC02347.jpg"><img src="resized/thumb/DSC02347.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC02354.jpg"><img src="resized/thumb/DSC02354.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC02357.jpg"><img src="resized/thumb/DSC02357.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC02360.jpg"><img src="resized/thumb/DSC02360.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC02379.jpg"><img src="resized/thumb/DSC02379.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC02383.jpg"><img src="resized/thumb/DSC02383.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC02420.jpg"><img src="resized/thumb/DSC02420.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC02427.jpg"><img src="resized/thumb/DSC02427.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC02433.jpg"><img src="resized/thumb/DSC02433.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC02454.jpg"><img src="resized/thumb/DSC02454.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC02463.jpg"><img src="resized/thumb/DSC02463.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC02464.jpg"><img src="resized/thumb/DSC02464.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC02474.jpg"><img src="resized/thumb/DSC02474.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC02480.jpg"><img src="resized/thumb/DSC02480.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC02482.jpg"><img src="resized/thumb/DSC02482.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC02488.jpg"><img src="resized/thumb/DSC02488.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC02492.jpg"><img src="resized/thumb/DSC02492.jpg"></a></li>
