<li><a class="fancybox" rel="gallery" href="resized/highres/DSC01504.jpg"><img src="resized/thumb/DSC01504.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC01515.jpg"><img src="resized/thumb/DSC01515.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC01529.jpg"><img src="resized/thumb/DSC01529.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC01530.jpg"><img src="resized/thumb/DSC01530.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC01536.jpg"><img src="resized/thumb/DSC01536.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC01538.jpg"><img src="resized/thumb/DSC01538.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC01543.jpg"><img src="resized/thumb/DSC01543.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC01548.jpg"><img src="resized/thumb/DSC01548.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC01549.jpg"><img src="resized/thumb/DSC01549.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC01550.jpg"><img src="resized/thumb/DSC01550.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC01551.jpg"><img src="resized/thumb/DSC01551.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC01552.jpg"><img src="resized/thumb/DSC01552.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC01554.jpg"><img src="resized/thumb/DSC01554.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC01563.jpg"><img src="resized/thumb/DSC01563.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC01565.jpg"><img src="resized/thumb/DSC01565.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC01571.jpg"><img src="resized/thumb/DSC01571.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC01572.jpg"><img src="resized/thumb/DSC01572.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC01573.jpg"><img src="resized/thumb/DSC01573.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC01574.jpg"><img src="resized/thumb/DSC01574.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC01584.jpg"><img src="resized/thumb/DSC01584.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC01587.jpg"><img src="resized/thumb/DSC01587.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC01589.jpg"><img src="resized/thumb/DSC01589.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC01592.jpg"><img src="resized/thumb/DSC01592.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC01594.jpg"><img src="resized/thumb/DSC01594.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC01599.jpg"><img src="resized/thumb/DSC01599.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC01609.jpg"><img src="resized/thumb/DSC01609.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC01617.jpg"><img src="resized/thumb/DSC01617.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC01618.jpg"><img src="resized/thumb/DSC01618.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC01619.jpg"><img src="resized/thumb/DSC01619.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC01622.jpg"><img src="resized/thumb/DSC01622.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC01623.jpg"><img src="resized/thumb/DSC01623.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC01624.jpg"><img src="resized/thumb/DSC01624.jpg"></a></li>
<li><a class="fancybox" rel="gallery" href="resized/highres/DSC01629.jpg"><img src="resized/thumb/DSC01629.jpg"></a></li>
